/**
 * tretton37 theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/neutra2text/Neutra2Text.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #494949;
$headingColor: #7cbe30;

$mainFontSize: 42px;
$mainFont: 'Neutraface 2 Text Book', Helvetica, sans-serif;
$headingFont: 'Neutraface 2 Text Bold', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

@mixin bodyBackground() {
	background-image: url(../../lib/img/tretton37-logo.png);
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: 1% 2%;
}

img {
	border: none !important;
	box-shadow: none !important;
}

.black {
	background-color: #000;	
}

.grid {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.grid > div {
    width: 50%;
    font-size: 50%;
    flex-basis: 50%;
}
.grid > div > img {
    
}
.grid > div > div {
    clear: both;
}

ol {
	column-count: 2;
	column-gap: 110px;
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------