@font-face {
    font-family: 'Neutraface 2 Text Book';
    src: url('Neutra2Text-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text Bold';
    src: url('Neutra2Text-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
